<div class="flex flex-col justify-between">
  <div class="mt-[40px] flex flex-col justify-content-start gap-[10px]">
    <span class="font-inter-500" style="font-size: 14px">Mật khẩu mặc định của người sử dụng mới đăng ký là:</span>
    <div
      class="flex items-center ps-[10px]"
      style="width: 192px; height: 38px; border-radius: 4px; background-color: #1944a740"
    >
      <span class="font-inter-500" style="font-size: 14px">{{ defaultPassword }}</span>
    </div>
    <span class="font-inter-500" style="font-size: 14px">Doanh nghiệp phải đổi mật khẩu thì mới có thể sử dụng</span>
    <span class="font-inter-500" style="font-size: 14px"
      >Chức năng đổi mật khẩu ở mục 4 phần 2 của tài liệu hướng dẫn</span
    >
    <span class="font-inter-500" style="font-size: 14px; color: #d72717; font-style: italic"
      >Chú ý: Mật khẩu mặc định chỉ dùng cho User ID mới đăng ký</span
    >
  </div>

  <nz-row nzSpan="24" style="float: bottom">
    <div class="flex justify-center items-center gap-[10px] w-100">
      <button
        [routerLink]="['/vnaccs/home']"
        type="button"
        class="font-inter-600 common-button"
        style="
          height: 40px;
          width: 145px;
          background-color: #f5f5f5;
          color: #1944a7 !important;
          font-size: 14px;
          border-radius: 8px;
          border: 1px solid #1944a7;
        "
      >
        Đóng
      </button>
    </div>
  </nz-row>
</div>
