@import '../../../shared/styles/variable';

.ant-dropdown-menu {
  width: 100% !important;
  min-width: auto;
  border-radius: 8px;
}

.menu-container {
  display: flex;
  background-color: #c6d0e6;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  border-radius: 8px;
  overflow: hidden;
  color: $primary-color;

  .item {
    width: 100%;
    font-size: 16px;
    display: flex;
    height: 100%;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;

    svg {
      transition: filter 0.3s ease;
    }

    &:hover {
      background-color: #385bad;
      color: white;

      svg {
        filter: invert(1); /* Đảo ngược màu của SVG khi hover */
      }
    }

    .item-content {
      display: flex;
      align-items: center;
      padding-left: 80px;
      gap: 8px;
    }

    .custom-item-1 {
      display: flex;
      align-items: center;
      gap: 8px;
      height: 45px;
      width: 100%;
      border-right: 1px solid rgba(25, 68, 167, 0.25);
      border-left: 1px solid rgba(25, 68, 167, 0.25);
    }
  }

  .item.selected {
    background-color: #1944a7;
    color: white;

    svg {
      filter: invert(1);
    }
  }

  .item-combobox {
    display: flex;
    align-items: center;
    gap: 50px;

    .custom-item-2 {
      padding-left: 80px;
      display: flex;
      align-items: center;
      gap: 30px;
      height: 45px;
      width: 100%;
      border-right: 1px solid rgba(25, 68, 167, 0.25);
    }
  }
}

.content {
  display: flex;
  gap: 100px;
  padding-top: 25px;
  padding-bottom: 70px;
  font-size: 14px;
  justify-content: space-between;

  .content-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 42%;

    .title {
      height: 35px !important;
      border-bottom: 1px solid black;
      height: 28px;
      font-family: 'Inter', sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
    }

    .main {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 20px;

      .list {
        display: flex;
        flex-direction: column;
        gap: 5px;

        li {
          span {
            color: #2362f6;
            cursor: pointer;
          }
        }
      }
    }
  }

  .content-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 42%;
    height: 450px;
    overflow-y: auto;

    .title {
      height: 35px !important;
      border-bottom: 1px solid black;
      height: 28px;
      font-family: 'Inter', sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
    }

    .main {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .list-data {
        display: flex;
      }

      .no-data {
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media only screen and (max-width: 1650px) {
  .menu-container {
    display: flex;
    background-color: #c6d0e6;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border-radius: 8px;
    color: $primary-color;

    .item {
      width: 100%;
      font-size: 14px;
      display: flex;
      height: 46px;
      align-items: center;

      .item-content {
        display: flex;
        align-items: center;
        padding-left: 80px;
        gap: 8px;
      }

      .custom-item-1 {
        display: flex;
        align-items: center;
        gap: 8px;
        height: 45px;
        width: 100%;
        border-right: 1px solid rgba(25, 68, 167, 0.25);
        border-left: 1px solid rgba(25, 68, 167, 0.25);
      }
    }

    .item-combobox {
      display: flex;
      align-items: center;
      gap: 50px;

      .custom-item-2 {
        padding-left: 80px;
        display: flex;
        align-items: center;
        gap: 30px;
        height: 45px;
        width: 100%;
        border-right: 1px solid rgba(25, 68, 167, 0.25);
      }
    }
  }

  .content {
    display: flex;
    gap: 100px;
    padding-top: 25px;
    padding-bottom: 70px;
    font-size: 14px;
    justify-content: space-between;

    .content-left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 42%;

      .title {
        height: 35px !important;
        border-bottom: 1px solid black;
        height: 28px;
        font-family: 'Inter', sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
      }

      .main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;

        .list {
          display: flex;
          flex-direction: column;
          gap: 5px;

          li {
            span {
              color: #2362f6;
              cursor: pointer;
            }
          }
        }
      }
    }

    .content-right {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 42%;
      height: 450px;
      overflow-y: auto;

      .title {
        height: 35px !important;
        border-bottom: 1px solid black;
        height: 28px;
        font-family: 'Inter', sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
      }

      .main {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .list-data {
          display: flex;
        }

        .no-data {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 1550px) {
  .menu-container {
    display: flex;
    background-color: #c6d0e6;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border-radius: 8px;
    color: $primary-color;

    .item {
      width: 100%;
      font-size: 14px;
      display: flex;
      height: 46px;
      align-items: center;

      .item-content {
        display: flex;
        align-items: center;
        padding-left: 40px;
        gap: 8px;
      }

      .custom-item-1 {
        display: flex;
        align-items: center;
        gap: 8px;
        height: 45px;
        width: 100%;
        border-right: 1px solid rgba(25, 68, 167, 0.25);
        border-left: 1px solid rgba(25, 68, 167, 0.25);
      }
    }

    .item-combobox {
      display: flex;
      align-items: center;
      gap: 30px;

      .custom-item-2 {
        padding-left: 50px;
        display: flex;
        align-items: center;
        gap: 30px;
        height: 45px;
        width: 100%;
        border-right: 1px solid rgba(25, 68, 167, 0.25);
      }
    }
  }

  .content {
    display: flex;
    gap: 100px;
    padding-top: 25px;
    padding-bottom: 70px;
    font-size: 14px;
    justify-content: space-between;

    .content-left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 42%;

      .title {
        height: 35px !important;
        border-bottom: 1px solid black;
        height: 28px;
        font-family: 'Inter', sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
      }

      .main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;

        .list {
          display: flex;
          flex-direction: column;
          gap: 5px;

          li {
            span {
              color: #2362f6;
              cursor: pointer;
            }
          }
        }
      }
    }

    .content-right {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 42%;
      height: 450px;
      overflow-y: auto;

      .title {
        height: 35px !important;
        border-bottom: 1px solid black;
        height: 28px;
        font-family: 'Inter', sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
      }

      .main {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .list-data {
          display: flex;
        }

        .no-data {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .menu-container {
    display: flex;
    background-color: #c6d0e6;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border-radius: 8px;
    color: $primary-color;

    .item {
      width: 100%;
      font-size: 14px;
      display: flex;
      height: 46px;
      align-items: center;

      .item-content {
        display: flex;
        align-items: center;
        // justify-content: center;
        padding-left: 35px !important;
        gap: 8px;
      }

      .custom-item-1 {
        display: flex;
        align-items: center;
        gap: 8px;
        height: 45px;
        width: 100%;
        border-right: 1px solid rgba(25, 68, 167, 0.25);
        border-left: 1px solid rgba(25, 68, 167, 0.25);
      }
    }

    .item-combobox {
      display: flex;
      align-items: center;
      gap: 10px !important;

      .custom-item-2 {
        padding-left: 40px;
        display: flex;
        align-items: center;
        gap: 30px;
        height: 45px;
        width: 100%;
        border-right: 1px solid rgba(25, 68, 167, 0.25);
      }
    }
  }

  .content {
    display: flex;
    gap: 100px;
    padding-top: 25px;
    padding-bottom: 70px;
    font-size: 14px;
    justify-content: space-between;

    .content-left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 42%;

      .title {
        height: 35px !important;
        border-bottom: 1px solid black;
        height: 28px;
        font-family: 'Inter', sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
      }

      .main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;

        .list {
          display: flex;
          flex-direction: column;
          gap: 5px;

          li {
            span {
              color: #2362f6;
              cursor: pointer;
            }
          }
        }
      }
    }

    .content-right {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 42%;
      height: 450px;
      overflow-y: auto;

      .title {
        height: 35px !important;
        border-bottom: 1px solid black;
        height: 28px;
        font-family: 'Inter', sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
      }

      .main {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .list-data {
          display: flex;
        }

        .no-data {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .menu-container {
    display: flex;
    background-color: #c6d0e6;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border-radius: 8px;
    color: $primary-color;

    .item {
      width: 100%;
      font-size: 14px;
      display: flex;
      height: 46px;
      align-items: center;

      .item-content {
        display: flex;
        align-items: center;
        // justify-content: center;
        padding-left: 15px !important;
        gap: 8px;
      }

      .custom-item-1 {
        display: flex;
        align-items: center;
        gap: 8px;
        height: 45px;
        width: 100%;
        border-right: 1px solid rgba(25, 68, 167, 0.25);
        border-left: 1px solid rgba(25, 68, 167, 0.25);
      }
    }

    .item-combobox {
      display: flex;
      align-items: center;
      gap: 10px !important;

      .custom-item-2 {
        padding-left: 80px;
        display: flex;
        align-items: center;
        gap: 30px;
        height: 45px;
        width: 100%;
        border-right: 1px solid rgba(25, 68, 167, 0.25);
      }
    }
  }

  .content {
    display: flex;
    gap: 100px;
    padding-top: 25px;
    padding-bottom: 70px;
    font-size: 14px;
    justify-content: space-between;

    .content-left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 42%;

      .title {
        height: 35px !important;
        border-bottom: 1px solid black;
        height: 28px;
        font-family: 'Inter', sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
      }

      .main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;

        .list {
          display: flex;
          flex-direction: column;
          gap: 5px;

          li {
            span {
              color: #2362f6;
              cursor: pointer;
            }
          }
        }
      }
    }

    .content-right {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 42%;
      height: 450px;
      overflow-y: auto;

      .title {
        height: 35px !important;
        border-bottom: 1px solid black;
        height: 28px;
        font-family: 'Inter', sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
      }

      .main {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .list-data {
          display: flex;
        }

        .no-data {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .menu-container {
    display: flex;
    background-color: #c6d0e6;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border-radius: 8px;
    color: $primary-color;

    .item {
      width: 100%;
      font-size: 14px;
      display: flex;
      height: 46px;
      align-items: center;

      .item-content {
        display: flex;
        align-items: center;
        padding-left: 18px !important;
        gap: 8px;
      }

      .custom-item-1 {
        display: flex;
        align-items: center;
        gap: 8px;
        height: 45px;
        width: 100%;
        border-right: 1px solid rgba(25, 68, 167, 0.25);
        border-left: 1px solid rgba(25, 68, 167, 0.25);
      }
    }

    .item-combobox {
      display: flex;
      align-items: center;
      gap: 30px;

      .custom-item-2 {
        padding-left: 80px;
        display: flex;
        align-items: center;
        gap: 30px;
        height: 45px;
        width: 100%;
        border-right: 1px solid rgba(25, 68, 167, 0.25);
      }
    }
  }

  .content {
    display: flex;
    gap: 100px;
    padding-top: 25px;
    padding-bottom: 70px;
    font-size: 14px;
    justify-content: space-between;

    .content-left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 42%;

      .title {
        height: 35px !important;
        border-bottom: 1px solid black;
        height: 28px;
        font-family: 'Inter', sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
      }

      .main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;

        .list {
          display: flex;
          flex-direction: column;
          gap: 5px;

          li {
            span {
              color: #2362f6;
              cursor: pointer;
            }
          }
        }
      }
    }

    .content-right {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 42%;
      height: 450px;
      overflow-y: auto;

      .title {
        height: 35px !important;
        border-bottom: 1px solid black;
        height: 28px;
        font-family: 'Inter', sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
      }

      .main {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .list-data {
          display: flex;
        }

        .no-data {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
