@import '../../../../shared/styles/variable';

.step-signed {
  background-color: #2362f6 !important;
}

.number-signed {
  color: #ffffff !important;
}

.text-signed {
  color: #2362f6 !important;
}

.line-sent {
  background-color: #2362f6 !important;
}

.step-sent {
  background-color: #2362f6 !important;
}

.number-sent {
  color: #ffffff !important;
}

.text-sent {
  color: #2362f6 !important;
}

::ng-deep .ant-modal-content {
  border-radius: 8px;
}

::ng-deep .ant-modal-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  background-color: #fafafa;
  border-radius: 6px;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

.steps-action {
  margin-top: 24px;
}

button {
  margin-right: 8px;
}

::ng-deep .ant-steps {
  padding: 0 245px !important;
}

// ::ng-deep .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon .no-active {
//   width: 70px;
//   height: 70px;
//   background-color: #2362f6;
//   border: #2362f6 !important;
// }
::ng-deep .ant-steps-item-process.not-active .ant-steps-item-icon {
  width: 70px;
  height: 70px;
  border: 1px dashed #e9e9e9;
  background-color: #fafafa;
}

::ng-deep .ant-steps-item-process.active .ant-steps-item-icon {
  width: 70px;
  height: 70px;
  background-color: #2362f6;
  border: #2362f6 !important;
}

::ng-deep .ant-steps-item-process.not-active .ant-steps-item-icon {
  background-color: rgba(191, 191, 191, 0.25) !important;
}

::ng-deep .ant-steps-item-process.not-active > .ant-steps-item-container > .ant-steps-item-icon .ant-steps-icon {
  color: #a5a5a5 !important;
}

::ng-deep .ant-steps-item-process.active > .ant-steps-item-container > .ant-steps-item-icon .ant-steps-icon {
  color: #ffffff !important;
}

// ::ng-deep .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
//   background-color: #2362f6 !important;
// }

::ng-deep .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: #a5a5a5;
}

::ng-deep .ant-steps-item-icon {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: #bfbfbf40 !important;
}

::ng-deep .ant-steps-item-icon .ant-steps-icon {
  top: 17px !important;
}

::ng-deep .ant-steps-item-wait .ant-steps-item-icon {
  background-color: #bfbfbf40 !important;
}

::ng-deep .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
  color: #a5a5a5 !important;
}

::ng-deep .ant-steps-item-finish .ant-steps-item-icon {
  width: 70px;
  height: 70px;
  background-color: #2362f6;
}

::ng-deep .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: white !important;
  content: '1';
}

//::ng-deep .anticon {
//  display: none;
//}

::ng-deep .ant-steps-item-finish .ant-steps-item-icon::before {
  content: '1' !important;
  position: absolute;
  top: 33px;
  left: 77px;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: white;
}

::ng-deep .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after,
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
  background-color: #2362f6 !important;
  top: 35px;
  left: 10px;
}

::ng-deep .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after,
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-tail::after {
  top: 35px;
  left: 10px;
}

::ng-deep .ant-steps-item-tail::after {
  display: none !important;
  position: absolute !important;
  top: 22px;
  left: 82px;
  width: 88%;
}

::ng-deep .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
  background-color: #2362f6 !important;
}

::ng-deep .ant-steps-label-vertical .ant-steps-item-content {
  display: flex !important;
  justify-content: flex-end;
  margin-top: 0px !important;
}

nz-select,
nz-date-picker {
  width: 100%;
}

::ng-deep .ant-steps-horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.step-connector {
  display: flex;
  justify-content: center;
  flex-grow: 3;
  margin-top: -35px;
}

.connector-line {
  height: 1px;
  background-color: rgba(191, 191, 191, 0.25);
  width: 100% !important;
}

.connector-line-sent {
  height: 1px;
  background-color: #2362f6;
  width: 100% !important;
}

// ::ng-deep .ant-input-group {
//   height: 40px !important;
// }

// ::ng-deep .ant-input {
//   height: 40px !important;
// }
