<div class="flex flex-column">
  <div class="flex justify-center pt-[48px]">
    <span class="font-inter color-primary" style="font-size: 20px">Đăng ký tới Hải quan</span>
  </div>
  <div>
    <nz-steps [nzCurrent]="current" nzSize="default" class="px-[240px]">
      <nz-step nzTitle="Ký chữ ký số"></nz-step>
      <nz-step nzTitle="Gửi hải quan"></nz-step>
    </nz-steps>

    <div class="steps-content">{{ index }}</div>
    <div class="steps-action">
      <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
        <span>Previous</span>
      </button>
      <button nz-button nzType="default" (click)="next()" *ngIf="current < 1">
        <span>Next</span>
      </button>
      <button nz-button nzType="primary" (click)="done()" *ngIf="current === 1">
        <span>Done</span>
      </button>
    </div>
  </div>
</div>
