@import '../../shared/styles/variable';

.container-fluid {
  background-color: $primary-color !important;
}

a:hover {
  text-decoration: underline;
}

span.hyper-link {
  &:hover {
    text-decoration: underline;
  }
}

::ng-deep .ant-dropdown-menu {
  border-radius: 8px !important;
  width: 170px !important;

  .icon {
    width: 20px !important;

    svg {
      width: 100% !important;
      height: auto !important;
    }
  }
}

.header-container {
  height: 144px;
  background-color: $primary-color;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-left {
    display: flex;
    height: 85px;

    .left {
      border-right: 2px solid white;
      display: flex;
      padding: 0 44px;
      gap: 17px;
      padding-right: 50px;

      .logo-text {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .text-top {
          line-height: 30px;
          font-weight: 700;
          font-size: 32px;
        }

        .text-bottom {
          padding-left: 17px;
          font-weight: 400;
          font-size: 16px;
          line-height: 30px;
        }
      }
    }

    .right {
      padding-left: 44px;
      display: flex;
      flex-direction: column;

      span {
        height: 50%;
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
      }
    }
  }

  .header-right-no-login {
    padding-right: 23px;
    height: 20px;
    color: white !important;
    display: flex;
    gap: 8px;
    font-size: 16px;
    align-items: center;

    span {
      color: white;
      font-size: 16px;
      line-height: 20px;
      cursor: pointer;
    }

    span.custom-span {
      padding: 0 8px;
      border-right: 1px solid white;
      border-left: 1px solid white;
      font-family: 'Inter';
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
  }

  .header-right-login {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 20px;
    padding-right: 118px;
    cursor: pointer;

    span {
      line-height: 20px;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .header-container {
    height: 144px;
    background-color: $primary-color;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-left {
      display: flex;
      height: 85px;

      .left {
        border-right: 2px solid white;
        display: flex;
        padding: 0 16px;
        .logo-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          line-height: 18px;
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        padding-left: 16px !important;
        span {
          font-size: 32px;
          font-weight: 700;
          line-height: 18px;
          justify-content: start;
          align-items: center;
          display: flex;
        }
      }
    }

    .header-right-no-login {
      padding-right: 23px;
      height: 20px;
      color: white !important;
      display: flex;
      gap: 8px;
      font-size: 16px;
      align-items: center;

      span {
        color: white;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
      }

      span.custom-span {
        padding: 0 8px;
        border-right: 1px solid white;
        border-left: 1px solid white;
      }
    }

    .header-right-login {
      display: flex;
      align-items: center;
      gap: 8px;
      height: 20px;
      padding-right: 118px;
      cursor: pointer;

      span {
        line-height: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .header-container {
    height: 144px;
    background-color: $primary-color;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-left {
      display: flex;
      height: 85px;

      .left {
        border-right: 2px solid white;
        display: flex;
        padding: 0 16px;
        .logo-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          line-height: 18px;

          .text-top {
            line-height: 30px;
            font-weight: 700;
            font-size: 26px;
          }

          .text-bottom {
            padding-left: 10px;
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
          }
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        padding-left: 16px !important;
        span {
          font-size: 26px !important;
          font-weight: 700;
          line-height: 18px;
          justify-content: start;
          align-items: center;
          display: flex;
        }
      }
    }

    .header-right-no-login {
      padding-right: 23px;
      height: 20px;
      color: white !important;
      display: flex;
      gap: 8px;
      font-size: 16px;
      align-items: center;

      span {
        color: white;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
      }

      span.custom-span {
        padding: 0 8px;
        border-right: 1px solid white;
        border-left: 1px solid white;
      }
    }

    .header-right-login {
      display: flex;
      align-items: center;
      gap: 8px;
      height: 20px;
      padding-right: 118px;
      cursor: pointer;

      span {
        line-height: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .header-container {
    height: 144px;
    background-color: $primary-color;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-left {
      display: flex;
      height: 85px;

      .left {
        border-right: 2px solid white;
        display: flex;
        padding: 0 16px;
        .logo-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          line-height: 18px;

          .text-top {
            line-height: 30px;
            font-weight: 700;
            font-size: 16px;
          }

          .text-bottom {
            padding-left: 0;
            font-weight: 400;
            font-size: 11px;
            line-height: 30px;
          }
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        padding-left: 16px !important;
        span {
          font-size: 16px !important;
          font-weight: 700;
          line-height: 18px;
          justify-content: start;
          align-items: center;
          display: flex;
        }
      }
    }

    .header-right-no-login {
      padding-right: 23px;
      height: 20px;
      color: white !important;
      display: flex;
      gap: 8px;
      font-size: 16px;
      align-items: center;

      span {
        color: white;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
      }

      span.custom-span {
        padding: 0 8px;
        border-right: 1px solid white;
        border-left: 1px solid white;
      }
    }

    .header-right-login {
      display: flex;
      align-items: center;
      gap: 8px;
      height: 20px;
      padding-right: 118px;
      cursor: pointer;

      span {
        line-height: 20px;
      }
    }
  }
}
