<p class="text-center mt-2 font-inter color-primary" style="font-size: 20px">
  Xem thông tin tài khoản: MST {{ taxCode }}
</p>
<nz-tabset>
  <nz-tab nzTitle="Tài khoản quản trị">
    <app-admin-account-info [data]="data"></app-admin-account-info>
  </nz-tab>
  <nz-tab nzTitle="Thông tin chung">
    <app-account-info [data]="data"></app-account-info>
  </nz-tab>
  <nz-tab nzTitle="Máy tính">
    <app-computer></app-computer>
  </nz-tab>
  <nz-tab nzTitle="Mật khẩu mặc định">
    <app-default-password [data]="data"></app-default-password>
  </nz-tab>
</nz-tabset>
