<div class="flex flex-col w-100 pt-[40px] px-[200px] pb-[50px]">
  <div class="flex justify-center items-center font-inter-600 color-primary" style="font-size: 24px;">
    <span>Đăng ký tài khoản quản trị</span>
  </div>
  <div class="flex flex-col">
    <div class="flex justify-start font-inter mb-[10px]" style="font-size: 14px;">
      <span>Thông tin chung</span>
    </div>
    <form nz-form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <nz-row nzGutter="16">
        <!-- Mã số thuế -->
        <nz-col nzSpan="12">
          <label for="" class="custom-label">Mã số thuế <span style="color: #ED5564;">*</span></label>
          <nz-input-group style="border-radius: 8px;">
            <input type="number" nz-input pattern="\d*" formControlName="taxCode" placeholder="Nhập mã số thuế" maxlength="13" />
          </nz-input-group>
          <p style="max-height: 10px;" class="text-danger fs-14">
            {{getTaxCodeError()}}
          </p>
        </nz-col>

        <!-- Email -->
        <nz-col nzSpan="12">
          <label for="" class="custom-label">Email <span style="color: #ED5564;">*</span></label>
          <nz-input-group style="border-radius: 8px;">
            <input type="text" nz-input pattern="\d*" formControlName="email" placeholder="Nhập email" maxlength="150" />
          </nz-input-group>
          <p style="max-height: 10px;" class="text-danger fs-14">
            <!-- {{getEmailError()}} -->
          </p>
        </nz-col>
      </nz-row>

      <nz-row nzGutter="16">
        <!-- Mật khẩu -->
        <nz-col nzSpan="12">
          <label for="" class="custom-label">Mật khẩu <span style="color: #ED5564;">*</span></label>
          <nz-input-group [nzSuffix]="suffixPassword" style="border-radius: 8px;">
            <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="adminPassword"
              placeholder="Nhập mật khẩu" maxlength="50" minlength="8"/>
          </nz-input-group>
          <p style="max-height: 25px;" class="text-danger fs-14">
            {{getPassError()}}
          </p>
        </nz-col>

        <!-- Xác nhận lại mật khẩu -->
        <nz-col nzSpan="12">
          <label for="" class="custom-label">Xác nhận lại mật khẩu <span style="color: #ED5564;">*</span></label>
          <nz-input-group [nzSuffix]="suffixPassword" style="border-radius: 8px;">
            <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="confirmPassword"
              placeholder="Xác nhận lại mật khẩu" maxlength="50"/>
          </nz-input-group>
          <p style="max-height: 10px;" class="text-danger fs-14">
            {{getConfirmPassError()}}
          </p>
        </nz-col>
      </nz-row>

      <div class="flex items-center justify-start font-inter" style="font-size: 14px;">
        <span>Thông tin chữ ký số</span>
      </div>

      <nz-row nzGutter="16">
        <!-- Loại chữ ký số -->
        <nz-col nzSpan="12">
          <div class="flex">
            <div class="flex flex-col gap-[10px]">
              <label for="" class="custom-label">Loại chữ ký số <span style="color: #ED5564;">*</span></label>
              <nz-radio-group [(ngModel)]="radioValue" formControlName="digitalSignatureType" style="font-size: 14px;">
                <label nz-radio nzValue=1>Usb token</label>
                <label nz-radio nzValue=2>Viettel - Mysign</label>
              </nz-radio-group>
              <p style="max-height: 10px;" class="text-danger fs-14">
              </p>
            </div>
            <div *ngIf="radioValue === '2'" class="pt-[23px]">
              <button class="text-white" style="border-radius: 8px; background-color: #1944A7 !important;" (click)="showModal()">
                <div class="flex justify-center items-center gap-2 p-[8px]" style="width: 170px;">
                  <div>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="9.80687" cy="9.80547" r="7.49047" stroke="white" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M15.0156 15.4042L17.9523 18.3333" stroke="white" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </div>
                  <div>
                    <span>Lấy chứng thư số</span>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </nz-col>
            <!-- Chữ ký số -->
        <nz-col nzSpan="12" *ngIf="radioValue === '1'; else vtsign">
          <div class="flex flex-col">
            <label for="" class="custom-label">Chữ ký số <span style="color: #ED5564;">*</span></label>
            <nz-select nzPlaceHolder="-Chọn-" formControlName="digitalSignature">
              <nz-option *ngFor="let option of optionFileStatuss" [nzValue]="option.value" [nzLabel]="option.label">
              </nz-option>
            </nz-select>
            <p style="max-height: 10px;" class="text-danger fs-14">
            </p>
            </div>
        </nz-col>

        <!-- Tên chứng thư số -->
        <ng-template #vtsign>
          <nz-col nzSpan="12">
            <label for="" class="custom-label">Tên chứng thư số <span style="color: #ED5564;">*</span></label>
            <nz-input-group style="border-radius: 8px;">
              <input text nz-input maxlength="13"  formControlName="nameCert"/>
            </nz-input-group>
            <p style="max-height: 10px;" class="text-danger fs-14">
            </p>
          </nz-col>
        </ng-template>

      </nz-row>

      <nz-row nzGutter="16">
        <!-- Số seri -->
        <nz-col nzSpan="12">
          <label for="" class="custom-label">Số seri <span style="color: #ED5564;">*</span></label>
          <nz-input-group style="border-radius: 8px;">
            <input text nz-input formControlName="serial"/>
          </nz-input-group>
          <p style="max-height: 10px;" class="text-danger fs-14">
          </p>
        </nz-col>

        <!-- Nhà cung cấp chữ ký số -->
        <nz-col nzSpan="12">
          <label for="" class="custom-label">Nhà cung cấp chữ ký số <span style="color: #ED5564;">*</span></label>
          <nz-input-group style="border-radius: 8px;">
            <input text nz-input  formControlName="provider"/>
          </nz-input-group>
          <p style="max-height: 10px;" class="text-danger fs-14">
          </p>
        </nz-col>
      </nz-row>

      <nz-row nzGutter="16">
        <!-- Ngày hiệu lực -->
        <nz-col nzSpan="12">
          <label for="" class="custom-label">Ngày hiệu lực <span style="color: #ED5564;">*</span></label>
          <nz-input-group style="border-radius: 8px;" [nzSuffix]="suffixDate">
            <input text nz-input  formControlName="effectiveDate"/>
          </nz-input-group>
          <p style="max-height: 10px;" class="text-danger fs-14">
          </p>
        </nz-col>

        <ng-template #suffixDate>
          <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.57812 7.83688H16.4314" stroke="#96A0B5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12.7025 11.0915H12.7102" stroke="#96A0B5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M9.00323 11.0915H9.01095" stroke="#96A0B5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M5.30011 11.0915H5.30783" stroke="#96A0B5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12.7025 14.3302H12.7102" stroke="#96A0B5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M9.00323 14.3302H9.01095" stroke="#96A0B5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M5.30011 14.3302H5.30783" stroke="#96A0B5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12.3704 1.66669V4.409" stroke="#96A0B5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M5.636 1.66669V4.409" stroke="#96A0B5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5319 2.98267H5.4758C3.02856 2.98267 1.5 4.34594 1.5 6.85185V14.3932C1.5 16.9385 3.02856 18.3333 5.4758 18.3333H12.5242C14.9791 18.3333 16.5 16.9622 16.5 14.4563V6.85185C16.5077 4.34594 14.9868 2.98267 12.5319 2.98267Z" stroke="#96A0B5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </ng-template>

        <!-- Ngày hết hiệu lực -->
        <nz-col nzSpan="12">
          <label for="" class="custom-label">Ngày hết hiệu lực <span style="color: #ED5564;">*</span></label>
          <nz-input-group style="border-radius: 8px;" [nzSuffix]="suffixDate">
            <input text nz-input  formControlName="expiryDate"/>
          </nz-input-group>
          <p style="max-height: 10px;" class="text-danger fs-14">
          </p>
        </nz-col>
      </nz-row>

      <!-- Khóa công khai -->
      <nz-row nzSpan="24">
        <label for="" class="custom-label">Khóa công khai <span style="color: #ED5564;">*</span></label>
        <textarea
        style="min-height: 100px; border-radius: 8px;"
          formControlName="publicKey"
          nz-input
          >
        </textarea>
        <p style="max-height: 10px;" class="text-danger fs-14">
        </p>
      </nz-row>

      <nz-row nzSpan="24">
        <div class="flex justify-center items-center gap-2 w-100 mt-[20px]">
          <button class="font-inter-600" style="height: 40px; width: 145px; background-color: #F5F5F5; color: #1944A7 !important; font-size: 14px; border-radius: 8px;">Đóng</button>
          <button class="font-inter-600 text-white" style="height: 40px; width: 145px; background-color: #1944A7 !important; font-size: 14px; border-radius: 8px;">Đăng ký</button>
        </div>
      </nz-row>
    </form>
  </div>
</div>

<!-- modal lấy chứng thư số-->
<nz-modal
  [nzCentered]="true"
  [(nzVisible)]="isVisible"
  [nzBodyStyle]="{ height: 'auto' }"
  [nzStyle]="{width: '1000px', 'border-radius': '8px'}"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
  [nzFooter]="footerTemplate">
  <div *nzModalTitle class="font-inter-600" style="font-size: 18px;">{{modalTitle}}</div>

  <div *nzModalContent class="d-flex flex-column gap-3 mt-[-10px]">
    <div class="flex flex-column">
      <div class="font-inter-500" style="font-size: 14px;">
        <span>Tài khoản MySign</span>
      </div>
      <div class="flex gap-[25px]" style="height: 40px;">
        <input type="text" [(ngModel)]="msAcc" placeholder="Nhập tài khoản MySign" nz-input style="width: 500px; border-radius: 8px;">
        <button class="text-white" style="border-radius: 8px; background-color: #1944A7 !important;" (click)="getCTS()">
          <div class="flex justify-center items-center gap-2" style="width: 200px;">
            <div>
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="9.80687" cy="9.80547" r="7.49047" stroke="white" stroke-width="1.5"
                  stroke-linecap="round" stroke-linejoin="round" />
                <path d="M15.0156 15.4042L17.9523 18.3333" stroke="white" stroke-width="1.5"
                  stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
            <div>
              <span>Lấy chứng thư số</span>
            </div>
          </div>
        </button>
        <button
          (click)="showModalDownload()"
          style="border-radius: 8px; color: #1944A7 !important; border: 1px solid #1944A7;">
          <div class="flex justify-center items-center gap-2" style="width: 200px;">
            <div>
              <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.50229 6.93945V13.0448" stroke="#1944A7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12.5564 9.99215H6.44531" stroke="#1944A7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.4061 1.66675H5.59654C2.87432 1.66675 1.16797 3.59348 1.16797 6.32105V13.6791C1.16797 16.4067 2.86638 18.3334 5.59654 18.3334H13.4061C16.1362 18.3334 17.8346 16.4067 17.8346 13.6791V6.32105C17.8346 3.59348 16.1362 1.66675 13.4061 1.66675Z" stroke="#1944A7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div>
              <span>Đăng ký tài khoản MySign</span>
            </div>
          </div>
        </button>
      </div>
    </div>

    <div class="flex flex-col">
      <div class="font-inter" style="font-size: 14px;">
        <span>Danh sách chứng thư số</span>
      </div>
      <nz-table #basicTable [nzData]="listOfData">
        <thead>
          <tr>
            <th nzWidth="50px" nzAlign="center" class="font-inter">STT</th>
            <th nzWidth="50px" nzAlign="center" class="font-inter">Tên chứng thư</th>
            <th nzWidth="50px" nzAlign="center" class="font-inter">Số seri</th>
            <th nzWidth="50px" nzAlign="center" class="font-inter">Mã số thuế/CCCD</th>
            <th nzWidth="50px" nzAlign="center" class="font-inter">Ngày hiệu lực</th>
            <th nzWidth="50px" nzAlign="center" class="font-inter">Ngày hết hiệu lực</th>
            <th nzWidth="50px" nzAlign="center" class="font-inter">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listOfData; let index = index">
            <td>{{index}}</td>
            <td>{{ data.serialNumber }}</td>
            <td>{{ data.serialNumber }}</td>
            <td>{{ data.subjectDN }}</td>
            <td>{{ data.validFrom }}</td>
            <td>{{ data.validTo }}</td>
            <td nzAlign="center">
              <button (click)="applyData(data)"
              class="font-inter-600 text-white"
              style="border-radius: 8px ;background-color: #1944A7 !important; width: 77px; height: 34px; font-size: 14px;">Chọn</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</nz-modal>

<ng-template #footerTemplate>
  <button style="height: 40px; width: 145px; background-color: #F5F5F5; border-radius: 8px; color: #1944A7; font-size: 14px;" class="font-inter-600" (click)="handleCancel()">
    Đóng
  </button>
</ng-template>


<ng-template #suffixPassword>
  <svg *ngIf="!passwordVisible" (click)="passwordVisible = !passwordVisible" width="20" height="20" viewBox="0 0 20 18"
    fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M7.76094 11.3668C7.18594 10.7928 6.83594 10.0128 6.83594 9.1378C6.83594 7.3848 8.24794 5.9718 9.99994 5.9718C10.8669 5.9718 11.6649 6.3228 12.2299 6.8968"
      stroke="#A5A5A5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    <path d="M13.1073 9.69891C12.8753 10.9889 11.8593 12.0069 10.5703 12.2409" stroke="#A5A5A5" stroke-width="1.5"
      stroke-linecap="round" stroke-linejoin="round" />
    <path
      d="M4.655 14.4723C3.068 13.2263 1.724 11.4063 0.75 9.13729C1.734 6.85829 3.087 5.02829 4.684 3.77229C6.271 2.51629 8.102 1.83429 10 1.83429C11.909 1.83429 13.739 2.52629 15.336 3.79129"
      stroke="#A5A5A5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    <path
      d="M17.4487 5.99081C18.1367 6.90481 18.7417 7.95981 19.2507 9.13681C17.2837 13.6938 13.8077 16.4388 10.0008 16.4388C9.13775 16.4388 8.28675 16.2988 7.46875 16.0258"
      stroke="#A5A5A5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    <path d="M17.8912 1.2496L2.11719 17.0236" stroke="#A5A5A5" stroke-width="1.5" stroke-linecap="round"
      stroke-linejoin="round" />
  </svg>

  <svg *ngIf="passwordVisible" (click)="passwordVisible = !passwordVisible" width="20" height="20" viewBox="0 0 24 24"
    fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12C23 12 19 20 12 20C5 20 1 12 1 12Z" stroke="#B3B3B3" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round" />
    <path
      d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
      stroke="#B3B3B3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
  </svg>
</ng-template>

