<div class="w-screen h-screen flex flex-col">
  <div class="flex-grow">
    <router-outlet></router-outlet>
  </div>
</div>
<ngx-spinner [class.z-15]="msService.isWaitingMySign" type="ball-scale-multiple"></ngx-spinner>

<nz-modal
  [(nzVisible)]="msService.isWaitingMySign"
  [nzFooter]="null"
  [nzWrapClassName]="'my-sign-popup'"
  [nzMaskClosable]="false"
  [nzClosable]="false"
  class="hehe"
  [nzStyle]="{'width' : '20vw', 'top': '50%', 'transform': 'translate(0%, -75%)'}"
>
  <div *nzModalContent>
    <div class="flex justify-content-center align-items-center text-center" style="flex-direction: column">
      <p style="font-size: 18px; font-weight: 500">Vui lòng kiểm tra ứng dụng Mysign và xác thực trên ứng dụng</p>
      <span nz-icon nzType="loading" nzTheme="outline" style="font-size: 20px;"></span>
    </div>
  </div>
</nz-modal>
