.ant-input-clear-icon,
.anticon.ant-input-clear-icon {
  margin-right: 5px !important;
}

.ant-tabs-tab:hover {
  color: #1944a7 !important;
}

.ant-tabs-tab.ant-tabs-tab-active {
  color: #1944a7 !important;
  border-bottom: 2px solid #1944a7 !important;
  z-index: 9999;
}

.ant-input-affix-wrapper {
  border-radius: 8px !important;
}

.reject-button {
  height: 40px !important;
  width: 155px !important;
  background-color: #f5f5f5 !important;
  color: #1944a7 !important;
  font-size: 14px !important;
  border-radius: 8px !important;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600 !important;
  font-style: normal;
}

.confirm-button {
  height: 40px !important;
  width: 155px !important;
  background-color: #1944a7 !important;
  color: #fff !important;
  font-size: 14px !important;
  border-radius: 8px !important;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600 !important;
  font-style: normal;
}

.common-button {
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
}

.ant-input.ng-invalid.ng-touched:not(.ant-input-affix-wrapper .ant-input),
.ant-input.ng-invalid.ng-dirty:not(.ant-input-affix-wrapper .ant-input) {
  border: 1px solid #dc3545;
  min-height: 40px !important;
}

nz-date-picker.ng-touched.ng-invalid,
nz-date-picker.ng-dirty.ng-invalid {
  border: 1px solid #dc3545 !important;
}

nz-date-picker {
  height: 40px !important;
}

.ant-input-affix-wrapper:has(.ng-invalid.ng-touched) {
  border: 1px solid #dc3545;
}

.ant-input-affix-wrapper:has(.ng-invalid.ng-touched:disabled) {
  border: 1px solid #dc3545 !important; /* Vẫn giữ viền đỏ khi disabled */
  background-color: #f8d7da; /* Tùy chỉnh màu nền (không bắt buộc) */
  color: #6c757d; /* Tùy chỉnh màu chữ (không bắt buộc) */
  pointer-events: none; /* Vẫn không cho tương tác */
}

.ant-select.ng-invalid.ng-touched,
.ant-select.ng-invalid.ng-dirty {
  .ant-select-selector {
    border: 1px solid #dc3545;

    &:hover {
      border: 1px solid #dc3545;
    }
  }
}

.ant-input::placeholder,
.ant-select-selection-search-input::placeholder {
  font-size: 14px !important;
}

.ant-select-selection-item {
  font-size: 14px !important;
}

.ant-select-lg {
  font-size: 14px !important;
}

.ant-picker-input > input {
  font-size: 14px !important;
}

.ant-select-dropdown {
  border-radius: 8px !important;
}

.ant-modal-body {
  padding-top: 24px !important;
  padding-bottom: 12px !important;
}

::ng-deep .ant-input::placeholder {
  font-size: 14px !important;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

::ng-deep .ant-select-selection-placeholder {
  font-size: 14px !important;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.ant-input-group {
  min-height: 40px !important;
}

.ant-input:not(textarea) {
  font-size: 14px !important;
  min-height: 40px !important;
}

.ant-input-affix-wrapper {
  min-height: 40px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  align-items: center !important;
}

nz-select {
  min-height: 40px !important;
  height: auto !important;
}

.ant-form-item-label > label {
  font-size: 14px !important;
  font-family: 'Inter', sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.ant-dropdown-menu-item-selected {
  color: #1944a7 !important;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

input {
  background: transparent !important;
}

nz-input-group textarea {
  padding-left: 0 !important;
  padding-right: 0 !important;
  background: transparent;
}

textarea {
  padding: 4px 11px;
}

.ant-input-disabled,
.ant-input[disabled] {
  background-color: #f5f5f5 !important;
}

.ant-input-affix-wrapper-disabled .ant-input[disabled] {
  background: transparent !important;
}

.ant-tabs-tab {
  font-family: 'Inter', sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500 !important;
  font-style: normal;
}

.ant-input[disabled] {
  color: #241d1e !important;
}

.ant-picker-clear {
  right: 5% !important;
}

textarea {
  resize: vertical;
}

.ant-input-group .ant-picker-disabled,
.ant-input-group .ant-select-disabled {
  opacity: 1 !important; /* Hoặc giá trị opacity mong muốn */
}
