<form nz-form [formGroup]="form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="24" class="mb-3">
      <label class="custom-label">
        User ID
        <span class="text-red-500">*</span>
      </label>
      <nz-select class="w-full" nzAllowClear nzSize="large" formControlName="userId" [nzPlaceHolder]="'-Chọn-'">
        <nz-option *ngFor="let item of listUserId" [nzValue]="item" [nzLabel]="item">
        </nz-option>
      </nz-select>
      <ng-container *ngIf="getControlError('userId')">
        <small class="text-red-500">
          User ID không được để trống
        </small>
      </ng-container>
    </div>
    <div nz-col [nzSpan]="24" class="mb-3">
      <label class="custom-label">
        Mật khẩu mới
        <span class="text-red-500">*</span>
      </label>
      <nz-input-group [nzSuffix]="suffixTemplate">
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          nz-input
          maxlength="50"
          placeholder="Nhập mật khẩu mới"
          formControlName="password"
        />
      </nz-input-group>
      <ng-container *ngIf="getControlError('password')">
        <small class="text-red-500" *ngIf="password.errors?.['required']">
          Mật khẩu mới không được để trống
        </small>
        <small class="text-red-500" *ngIf="password.errors?.['pattern']">
          Mật khẩu tối thiểu 8 ký tự bao gồm chữ hoa, chữ thường, số và ký tự đặc biệt
        </small>
      </ng-container>
      <ng-template #suffixTemplate>
      <span
        nz-icon
        [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
        (click)="passwordVisible = !passwordVisible"
      ></span>
      </ng-template>
    </div>
    <div nz-col [nzSpan]="24">
      <label class="custom-label">
        Xác nhận lại mật khẩu
        <span class="text-red-500">*</span>
      </label>
      <nz-input-group [nzSuffix]="suffixTemplateRe">
        <input
          [type]="rePasswordVisible ? 'text' : 'password'"
          nz-input
          maxlength="50"
          placeholder="Xác nhận lại mật khẩu mới"
          formControlName="rePassword"
        />
      </nz-input-group>
      <ng-container *ngIf="getControlError('rePassword')">
        <small class="text-red-500">
          Xác nhận lại mật khẩu mới không được để trống
        </small>
      </ng-container>
      <ng-container *ngIf="form.errors?.['passwordMismatch']">
        <small class="text-red-500">
          Xác nhận lại mật khẩu mới phải giống mật khẩu mới đã nhập
        </small>
      </ng-container>
      <ng-template #suffixTemplateRe>
      <span
        nz-icon
        [nzType]="rePasswordVisible ? 'eye-invisible' : 'eye'"
        (click)="rePasswordVisible = !rePasswordVisible"
      ></span>
      </ng-template>
    </div>
  </div>
</form>

<div *nzModalFooter>
  <div class="d-flex justify-content-end align-content-center">
    <button nz-button class="reject-button mr-2" (click)="onCloseModal()">
      Đóng
    </button>
    <button nz-button class="confirm-button" (click)="onUpdate()">
      Cấp mới mật khẩu
    </button>
  </div>
</div>
