<form nz-form [formGroup]="form">
  <div nz-row [nzGutter]="20">
    <div nz-col [nzSpan]="24" class="mb-3">
      <label class="custom-label">
        User ID
        <span style="max-height: 0" class="text-danger fs-14">*</span>
      </label>
      <nz-select class="w-full" nzSize="large" formControlName="userid" [nzPlaceHolder]="'-Chọn-'">
        <nz-option *ngFor="let item of listUserId" [nzValue]="item.userId" [nzLabel]="item.userId"> </nz-option>
      </nz-select>
      <ng-container *ngIf="getControlError('userid')">
        <p style="max-height: 0" class="text-danger fs-14">User ID không được để trống</p>
      </ng-container>
    </div>
    <div nz-col [nzSpan]="24" class="mb-3">
      <label class="custom-label">
        Mật khẩu mới
        <span style="max-height: 0" class="text-danger fs-14">*</span>
      </label>
      <nz-input-group [nzSuffix]="suffixTemplate">
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          nz-input
          maxlength="50"
          placeholder="Nhập mật khẩu mới"
          formControlName="password"
          autoTrim
          style="padding-right: 30px"
        />
      </nz-input-group>
      <ng-container *ngIf="getControlError('password')">
        <p style="max-height: 0" class="text-danger fs-14" *ngIf="password.errors?.['required']">
          Mật khẩu mới không được để trống
        </p>
        <p style="max-height: 10px" class="text-danger fs-14" *ngIf="password.errors?.['pattern']">
          Mật khẩu tối thiểu 8 ký tự bao gồm chữ hoa, chữ thường, số và ký tự đặc biệt
        </p>
      </ng-container>
      <ng-template #suffixTemplate>
        <svg
          *ngIf="!passwordVisible"
          (click)="passwordVisible = !passwordVisible"
          style="cursor: pointer; margin-left: 20px"
          width="20"
          height="20"
          viewBox="0 0 20 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.76094 11.3668C7.18594 10.7928 6.83594 10.0128 6.83594 9.1378C6.83594 7.3848 8.24794 5.9718 9.99994 5.9718C10.8669 5.9718 11.6649 6.3228 12.2299 6.8968"
            stroke="#A5A5A5"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M13.1073 9.69891C12.8753 10.9889 11.8593 12.0069 10.5703 12.2409"
            stroke="#A5A5A5"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M4.655 14.4723C3.068 13.2263 1.724 11.4063 0.75 9.13729C1.734 6.85829 3.087 5.02829 4.684 3.77229C6.271 2.51629 8.102 1.83429 10 1.83429C11.909 1.83429 13.739 2.52629 15.336 3.79129"
            stroke="#A5A5A5"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M17.4487 5.99081C18.1367 6.90481 18.7417 7.95981 19.2507 9.13681C17.2837 13.6938 13.8077 16.4388 10.0008 16.4388C9.13775 16.4388 8.28675 16.2988 7.46875 16.0258"
            stroke="#A5A5A5"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M17.8912 1.2496L2.11719 17.0236"
            stroke="#A5A5A5"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>

        <svg
          *ngIf="passwordVisible"
          (click)="passwordVisible = !passwordVisible"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12C23 12 19 20 12 20C5 20 1 12 1 12Z"
            stroke="#B3B3B3"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
            stroke="#B3B3B3"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </ng-template>
    </div>
    <div nz-col [nzSpan]="24">
      <label class="custom-label">
        Xác nhận lại mật khẩu
        <span style="max-height: 0" class="text-danger fs-14">*</span>
      </label>
      <nz-input-group [nzSuffix]="suffixTemplateRe">
        <input
          [type]="rePasswordVisible ? 'text' : 'password'"
          nz-input
          maxlength="50"
          placeholder="Xác nhận lại mật khẩu mới"
          formControlName="rePassword"
          autoTrim
        />
      </nz-input-group>
      <ng-container *ngIf="getControlError('rePassword')">
        <p style="max-height: 0" class="text-danger fs-14">Xác nhận lại mật khẩu mới không được để trống</p>
      </ng-container>
      <ng-container *ngIf="form.errors?.['passwordMismatch']">
        <p style="max-height: 0" class="text-danger fs-14">Xác nhận lại mật khẩu mới phải giống mật khẩu mới đã nhập</p>
      </ng-container>
      <ng-template #suffixTemplateRe>
        <svg
          *ngIf="!rePasswordVisible"
          (click)="rePasswordVisible = !rePasswordVisible"
          style="cursor: pointer"
          width="20"
          height="20"
          viewBox="0 0 20 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.76094 11.3668C7.18594 10.7928 6.83594 10.0128 6.83594 9.1378C6.83594 7.3848 8.24794 5.9718 9.99994 5.9718C10.8669 5.9718 11.6649 6.3228 12.2299 6.8968"
            stroke="#A5A5A5"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M13.1073 9.69891C12.8753 10.9889 11.8593 12.0069 10.5703 12.2409"
            stroke="#A5A5A5"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M4.655 14.4723C3.068 13.2263 1.724 11.4063 0.75 9.13729C1.734 6.85829 3.087 5.02829 4.684 3.77229C6.271 2.51629 8.102 1.83429 10 1.83429C11.909 1.83429 13.739 2.52629 15.336 3.79129"
            stroke="#A5A5A5"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M17.4487 5.99081C18.1367 6.90481 18.7417 7.95981 19.2507 9.13681C17.2837 13.6938 13.8077 16.4388 10.0008 16.4388C9.13775 16.4388 8.28675 16.2988 7.46875 16.0258"
            stroke="#A5A5A5"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M17.8912 1.2496L2.11719 17.0236"
            stroke="#A5A5A5"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>

        <svg
          *ngIf="rePasswordVisible"
          (click)="rePasswordVisible = !rePasswordVisible"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12C23 12 19 20 12 20C5 20 1 12 1 12Z"
            stroke="#B3B3B3"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
            stroke="#B3B3B3"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </ng-template>
    </div>
  </div>
</form>

<div *nzModalFooter>
  <div class="d-flex justify-content-end align-content-center pt-[10px]">
    <button class="reject-button mr-2" (click)="onCloseModal()">Đóng</button>
    <button class="confirm-button" (click)="onUpdate()">Đổi mật khẩu</button>
  </div>
</div>
