@import '../../../../shared/styles/variable';

::ng-deep .ant-modal-content {
  border-radius: 8px;
}

::ng-deep .ant-modal-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

::ng-deep .ant-modal-title {
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.ant-form {
  margin-top: -15px;
}
