<div class="footer-container font-inter-400 text-[16px] h-100">
  <div class="top">
    <div class="top-left">
      <span>Cổng thông tin điện tử Tổng cục Hải quan</span>
      <span>Địa chỉ: Số 9 - Đường Dương Đình Nghệ, Phường Yên Hòa, Quận Cầu Giấy, TP. Hà Nội</span>
      <span>Điện thoại: (+8424) 39440833</span>
    </div>
    <div class="top-right">
      <span>Email: webmaster&#64;customs.gov.vn</span>
      <span>Website: <span class="custom-span">www.customs.gov.vn</span></span>
    </div>
  </div>
  <div class="bottom">
    <span>©Bản quyền Tổng cục Hải quan (General Department of Vietnam Customs)</span>
  </div>
</div>
