@import '../../shared/styles/variable';

.footer-container {
  background-color: $primary-color !important;
  height: 144px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  color: white;
  padding-top: 18px;
  padding-bottom: 8px;

  .top {
    display: flex;
    gap: 300px;

    .top-left {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-left: 110px;
    }

    .top-right {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-left: 160px;

      span.custom-span {
        text-decoration: underline;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 1400px) {
  .footer-container {
    font-size: 12px;
  }
  .top {
    display: flex;
    gap: 300px;
    padding: 0 24px;

    .top-left {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-left: 0 !important;
    }

    .top-right {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-left: 0 !important;
      span.custom-span {
        text-decoration: underline;
      }
    }
  }
}
