@import '../../../../shared/styles/variable';

::ng-deep.ant-modal-body {
  padding-bottom: 10px !important;
}

::ng-deep .ant-modal-content {
  border-radius: 8px;
}

::ng-deep .ant-modal-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

::ng-deep .ant-input::placeholder {
  font-size: 14px !important;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

::ng-deep .ant-select-selection-placeholder {
  font-size: 14px !important;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

nz-select,
nz-date-picker {
  width: 100%;
}

.effective {
  background-color: #3bb54a;
  color: white;
}

.expiry {
  background-color: #d72717;
  color: white;
}

.no-effective {
  background-color: #fec107;
  color: black;
}

.status-2 {
  color: black;
  background-color: #fec107;
}

.status-3 {
  color: white;
  background-color: #3bb54a;
}

.status-0 {
  color: white;
  background-color: #f22a2a;
}

textarea {
  resize: vertical !important;
}

::ng-deep .ant-picker-large {
  background: transparent !important;
  border: none !important;
}

::ng-deep .ant-picker.ng-touched.ng-invalid,
nz-date-picker.ng-dirty.ng-invalid {
  border: none !important;
}

::ng-deep .ant-picker-focused {
  border: none !important;
  box-shadow: none !important;
}

::ng-deep .ant-picker:hover {
  border: none !important;
  box-shadow: none !important;
}

// ::ng-deep .ant-input-affix-wrapper:not(textarea) {
//   padding: 0 16px !important;
// }
